table {
  margin: 10px 0 30px;
}

tr.subsect {
  background: $ce-lightest-grey;
  color: $ce-blue-grey;
}

thead td {
  background: $sidebar-nav-color;
  color: $white;
  font-size: 15px;
}

td {
  border: 1px solid darken($ce-border, 10%);
  padding: 5px;
  font-size: 14px;
}
